<li id="todo-{{ todo.id }}" class="group flex py-2 px-1 hover:bg-gray-100 justify-between">
    <div class="flex items-center gap-3">
        <input
            id="completed-{{todo.id}}"
            type="checkbox"
            {% if todo.completed %}checked{% endif %}
            hx-post="/todos/{{ todo.id }}/toggle"
            hx-trigger="change"
            hx-on::after-request="
            if (event.detail.successful) {
                let filter = document.getElementById('filter').value;
                if (filter === 'pending') { 
                    document.getElementById('todo-{{ todo.id }}').remove();
                } 
            }"
            class="cursor-pointer"
        >
        
        <a 
            href="/todos/{{ todo.id }}" 
            class="cursor-pointer text-black"
        >
            {{ todo.title }}
        </a>
    </div>

    <div class="flex flex-row items-center justify-center gap-2">
        {% include "partials/todo-controls.html" %}

        {% if show_date %}
            <span class="inline-flex whitespace-nowrap text-xs 
                        font-thin px-2 py-1 bg-white text-gray-500
                        border border-gray-500 rounded-full w-auto
                        group-hover:hidden">
                <span id="pending-due-{{ todo.id }}" 
                        class="{{ todo.relative_due_with_class(timezone.as_str()).1 }}"
                >
                    {{ todo.relative_due_with_class(timezone.as_str()).0 }}
                </span>
            </span>
        {% endif %}

    </div>
</li>
