<select 
    id="filter" 
    name="filter" 
    class="border p-2 rounded"
    hx-get="/todos"
    hx-target="#todo-list"
    hx-swap="innerHTML"
>
    <option value="pending" {% if filter == "pending" %}selected{% endif %}>
        pending
    </option>

    <option value="today" {% if filter == "today" %}selected{% endif %}>
        today
    </option>

    <option value="yesterday" {% if filter == "yesterday" %}selected{% endif %}>
        yesterday
    </option>
    
    <option value="tomorrow" {% if filter == "tomorrow" %}selected{% endif %}>
        tomorrow
    </option>
</select>
