<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todopad</title>
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/htmx.min.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/static/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
</head>

<body class="font-bai max-w-2xl mx-auto p-4">
    <header class="flex items-center justify-between mb-4">
        <div class="flex items-center justify-center gap-2">
            <i class="fa-solid fa-list"></i>
            <h1 class="text-2xl font-bold">todopad</h1>
        </div>

        <nav class="hidden md:flex space-x-4">
            <ul class="flex gap-4">
            {% for nav in base.navs %}
                <li class="hover:border-b-2 border-b-gray-500 duration-200">
                    <a href="{{nav.url}}">{{nav.name}}</a>
                </li>
            {% endfor %}
                <li>
                    <a href="https://github.com/madhanganesh/todopad" 
                        target="_blank" 
                        class="text-gray-700 hover:text-black"
                    >
                        <i class="fa-brands fa-github text-xl"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="flex flex-col gap-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Bottom Navigation (Visible on Mobile) -->
    <nav class="fixed bottom-0 left-0 w-full bg-white shadow-md p-3 flex justify-around md:hidden">
        {% for nav in base.navs %}
        <a href="{{nav.url}}" class="flex flex-col items-center text-gray-700 hover:text-blue-600">
            <i class="fas {{nav.icon}} text-lg"></i>
            <span class="text-xs">{{nav.name}}</span>
        </a>
        {% endfor %}
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

            // Send timezone in an HTMX request (if using HTMX)
            document.body.addEventListener("htmx:configRequest", function (event) {
                event.detail.headers['X-Timezone'] = timezone;
            });

            // Or store it as a cookie (if relying on normal form submissions)
            document.cookie = "timezone=" + timezone + "; path=/";
        });
    </script>
</body>
</html>
