{% extends "base.html" %}

{% block content %}
<div class="flex flex-col gap-4">
    <div>
        {% include "partials/todo-input.html" %}
    </div>

    <div class="flex items-center justify-between">
        {% include "partials/todo-filter.html" %} 
        <span id="todo-count"></span>
    </div>

    <div>
        {% if let Some(todos) = todos %}
            {% include "partials/todos.html" %}
        {%endif%}
    </div>

</div>

<script>
    function updateTodoCount() {
        const count = document.querySelectorAll("#todo-list li").length;
        let text = 'No todos';
        if (count === 1) {
            text = `${count} todo`;
        } 
        if (count > 1) {
            text = `${count} todos`;
        }
        document.getElementById("todo-count").innerText = text
    }

    // Run on initial page load
    document.addEventListener("DOMContentLoaded", updateTodoCount);

    // Run every time HTMX updates the page (after swap)
    document.body.addEventListener("htmx:afterSwap", function(event) {
        updateTodoCount();
    });

    document.body.addEventListener("htmx:afterRequest", function () {
            updateTodoCount();
    });
    /*document.addEventListener("DOMContentLoaded", function () {
        console.log("here........");

        document.body.addEventListener("htmx:afterRequest", function () {
            updateTodoCount();
        });

        updateTodoCount();
    });*/

    function formatTags(todoId) {
        let tooltip = document.getElementById(`tooltip-content-${todoId}`);

        try {
            let tags = JSON.parse(tooltip.innerText); // Convert JSON string to array

            if (tags.length === 0) {
                tooltip.innerHTML = "<div class='py-1 text-gray-300 italic'>No tags available</div>";
            } else {
                tooltip.innerHTML = tags.map(tag => `<div>${tag}</div>`).join("");
            }
        } catch (e) {
            console.error("Failed to parse tags:", e);
        }
    }

    function parseTags(tooltipId, event) {
        let contentElement = document.getElementById(tooltipId);
        try {
            let tagsArray = JSON.parse(contentElement.innerText); 
            contentElement.innerHTML =  tagsArray.map(tag => `<div>${tag}</div>`).join(``);
            if (event) {
                showTooltip(event, tooltipId);
            }
        } catch (error) {
            contentElement.innerHTML = "<div>Error loading tags</div>"; 
            console.error("Invalid JSON from /tags:", error);
        }
    }

    function showTooltip(event, tooltipId) {
        const content = document.querySelector("#" + tooltipId).innerHTML;
        tippy(event.target, {
            content: content,
            allowHTML: true,
            interactive: true,
            placement: "bottom",
            theme: "light-border",
            duration: 500,  
        }).show();
    }

    function hideTooltip(event) {
        event.target._tippy?.hide();
    }
</script>
{% endblock %}

