{% extends "base.html" %}

{% block content %}
<div class="flex flex-col gap-4">
    <div>
        {% include "partials/todo-input.html" %}
    </div>

    <div class="flex items-center justify-between">
        <span>
            {% include "partials/todo-filter.html" %} 
        </span>
        <span class="flex gap-4">
            <span id="todo-count"></span>
            <span id="todo-hours"></span>
        </span>
    </div>

    <div>
        {% if let Some(todos) = todos %}
            {% include "partials/todos.html" %}
        {%endif%}
    </div>
</div>

<script src="/static/js/index.js" defer></script>
<script src="/static/js/todo-control.js" defer></script>

{% endblock %}

