{% extends "base.html" %}

{% block content %}
<div class="flex flex-col md:flex-row mt-10">
    <section class="w-full bg-white rounded-lg shadow-md p-6">
        <div class="flex items-center mb-6 justify-around">
            <div class="flex items-center gap-2">
                <h2 class="font-semibold">Insight: </h2>
                <select 
                    id="insight" 
                    name="insight"
                    class="border rounded px-2 py-1 cursor-pointer"  
                    onchange="ChartManager.updateChart()"
                >
                    {% for insight in insights %}
                    <option value="{{ insight.id }}" 
                        {% if select_id.is_some() && select_id.unwrap() == insight.id %}selected{% endif %}
                    >
                    {{ insight.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex items-center gap-2">
                <h2 class="font-semibold">Period: </h2>
                <select 
                    id="period"
                    name="period"
                    class="border rounded px-2 py-1 cursor-pointer"  
                    onchange="ChartManager.updateChart()"
                >
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                </select>
            </div>
        </div>
        <div id="chart-container" class="w-full max-w-screen-lg mx-auto">
            <canvas id="effortChart"></canvas>
        </div>

        <div class="flex justify-start mt-6 gap-4">
            <a href="/insights/new" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-green-600">
                New Insight
            </a>
            <a id="edit-insight-link" href="#" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-blue-600">
    Edit Insight
</a>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="/static/js/insights.js" defer></script>
{% endblock %}
